<!-- <button class="btn btn-primary mb-3" routerLink="../"><i class="fas fa-chevron-circle-left"></i> Inquiries</button> -->

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">

  <div class="btn-group" role="group">
    <button class="btn btn-primary" routerLink="../"><i class="fas fa-chevron-circle-left"></i> Inquiries</button>

  </div>

  <div class="btn-group ml-3" role="group">
    <button type="button" class="btn btn-secondary" (click)="onNewClick()" [disabled]="isNew">New</button>
    <button type="button" class="btn btn-secondary" (click)="onEditClick()" [disabled]="isNew">Edit</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal"
      [disabled]="isNew">Delete</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete customer {{customer.customerName}} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="onDeleteClick(customer.customerId)"
              data-dismiss="modal">Yes! Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group ml-2" role="group">
    <button class="btn btn-success" *ngIf="isNew" form="inqForm" (click)="validateForm(form.value)">Create
      inquiry</button>
    <button class="btn btn-success" [disabled]="isNew" (click)="placeOrder()">Place as an order</button>
  </div>

</div>

<form #form="ngForm" id="inqForm" class="mb-5 pb-5">

  <div class="container">
    <div class="form-group-sm">
      <label for="inqId">Inquiry ID</label>
      <input [(ngModel)]="inquiry.salesOrderId" name="salesOrderId" type="text" class="form-control form-control-sm"
        id="inqId" placeholder="Inquiry ID generates automatically" readonly>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group-sm">
          <label for="duedate">Due date</label>
          <input [(ngModel)]="inquiry.dueDate" name="dueDate" type="date" class="form-control form-control-sm"
            id="duedate" [readonly]="crudActionService.readonlybool" required>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group-sm">
          <label for="orderdate">Order Date</label>
          <input [(ngModel)]="inquiry.orderDate" name="orderDate" type="date" class="form-control form-control-sm"
            id="orderdate" [readonly]="crudActionService.readonlybool" required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="container shadow p-3 mb-5 mt-3 bg-white rounded">
          <span>Customer Details</span>
          <div class="row">
            <div class="form-group-sm col-5">
              <label for="cusid">Customer's Email <i *ngIf="errBool"
                  class="far fa-times-circle text-danger"></i></label>
              <input [(ngModel)]="customer.customerEmail" (blur)="findCustomer(customer.customerEmail)"
                name="customerEmail" type="email" class="form-control form-control-sm" id="cusid"
                [readonly]="crudActionService.readonlybool" required>
            </div>
            <div class="form-group-sm col-7">
              <label for="cusname">Customer's Name</label>
              <input [(ngModel)]="customer.customerName" name="customerName" type="text"
                class="form-control form-control-sm" id="cusname" readonly required>
            </div>
          </div>
          <div class="form-group-sm">
            <label for="cusaddress">Customer's Main Address</label>
            <input [(ngModel)]="customer.customerMainLocation" name="customerMainLocation" type="text"
              class="form-control form-control-sm" id="cusaddress" readonly required>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="form-group-sm">
                <label for="type">Customer's Type</label>
                <input [(ngModel)]="customer.customerType" name="customerType" type="text"
                  class="form-control form-control-sm" id="type" readonly required>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group-sm">
                <label for="credbal">Payment Status</label>
                <input [(ngModel)]="customer.customerPaymentFlag" name="customerPaymentFlag" type="text"
                  class="form-control form-control-sm" id="credbal" readonly required>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="deliverType">Delivery Type</label>
          <select class="form-control" id="shipmentType" [disabled]="crudActionService.readonlybool"
            [(ngModel)]="inquiry.shipmentType" name="shipmentType" required>
            <option>POST</option>
            <option>COURIER</option>

          </select>
        </div>
        <div *ngIf="inquiry.shipmentType == 'COURIER'" class="container shadow p-3 mb-5 mt-3 bg-white rounded">
          <span>Courier Details</span><button type="button" class="btn btn-link" data-toggle="modal"
            data-target="#exampleModalScrollable">Find Couriers</button>
          <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action"
                      *ngFor="let courier of couriers" (click)="selectCourier(courier)"
                      data-dismiss="modal">{{courier.company}} - {{courier.vehicleType}}</button>
                  </div>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Select</button>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="company">Courier Name</label>
              <input [(ngModel)]="courierObj.company" name="company" type="text" class="form-control form-control-sm"
                id="company" readonly>
            </div>
            <div class="form-group col-6">
              <label for="couriertype">Vehicle Type</label>
              <input [(ngModel)]="courierObj.vehicleType" name="vehicleType" type="text"
                class="form-control form-control-sm" id="couriertype" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="telephone">Contact</label>
                <input [(ngModel)]="courierObj.telephone" name="telephone" type="text"
                  class="form-control form-control-sm" id="telephone" readonly>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="vehicleId">Vehicle Number</label>
                <input [(ngModel)]="courierObj.vehicleId" name="vehicleId" type="text"
                  class="form-control form-control-sm" id="vehicleId" readonly>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <span *ngIf="errBool&&errMsg != ''" class="text-danger"><i
      class="fas fa-exclamation-circle text-danger"></i>{{errMsg}}</span>

 <!-- <div class="pr-3 pl-3">
    <div class="row"> -->
      
     <!-- <div *ngIf="isNew" class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Qty</th>
              <th scope="col">Availability</th>
              <th scope="col"></th>
              <button (click)="clearAll()" class="btn btn-danger">Clear All</button>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.productName}}</td>
              <td>{{item.qty}}</td>
              <td><i *ngIf="getQty(item.productId)>item.qty" class="fas fa-check text-success ml-4"></i><i
                  *ngIf="item.qty>getQty(item.productId)" class="fas fa-times text-danger ml-4"></i></td>
              <td><i (click)="clearItem(i)" class="fas fa-trash text-danger ml-4"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div> -->

  <!-- <div *ngIf="!isNew" class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Qty</th>
          <th scope="col">Availability</th>
          <th scope="col"></th>
          <button (click)="clearAll()" class="btn btn-danger">Clear All</button>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.productName}}</td>
          <td>{{item.qty}}</td>
          <td><i *ngIf="getQty(item.productId)>item.qty" class="fas fa-check text-success ml-4"></i><i
              *ngIf="item.qty>getQty(item.productId)" class="fas fa-times text-danger ml-4"></i></td>
          <td><i (click)="clearItem(i)" class="fas fa-trash text-danger ml-4"></i></td>
        </tr>

      </tbody>
    </table>
  </div> -->
  <form *ngIf="isNew" #prod="ngForm" (ngSubmit)="addItemToInquiry(prod)" class="container shadow p-3 mb-5 mt-3 bg-white rounded">
    <span>Product Details</span>
    <div class="row">
      <div class="form-group-sm col-5">
        <label for="prodId">Product Id </label>
        <input  name="id" ngModel #id="ngModel" type="text" class="form-control form-control-sm" id="prodId"
          [readonly]="crudActionService.readonlybool" required>
      </div>
      <div class="form-group-sm col-7">
        <label for="cusname">Product Name</label>
        <input ngModel #name="ngModel" name="name" type="text"
          class="form-control form-control-sm" id="prodname" required>
      </div>
    </div>
    <div class="form-group-sm">
      <label for="cusaddress">Price</label>
      <input ngModel #price="ngModel" name="price" type="number"
        class="form-control form-control-sm" id="prodPrice" required>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group-sm">
          <label for="type">Reference</label>
          <input ngModel #reference="ngModel" name="reference" type="text"
            class="form-control form-control-sm" id="reference" required>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group-sm">
          <label for="credbal">Quantity</label>
          <input ngModel quantity="ngModel" name="quantity" type="number"
            class="form-control form-control-sm" id="quantity" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-sm btn-secondary mt-2" >Add Product</button>
    <span class="text-danger ml-2">{{prodErr}}</span>
  </form>

  <div *ngIf="isNew" class="col">

    <table class="table table-sm table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity Required</th>
          <th scope="col">Line Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems; let i = index">

          <td scope="row">{{i+1}}</td>
          <td>{{item.productId}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.productPrice}}</td>
          <td><input type="number" [(ngModel)]="item.qty" name="qtyReq" placeholder="Enter amount" min="1">
          </td>
          <td>{{item.productPrice * item.qty}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</form>
