<form>
    <div class="form-group">
      <label for="name">Email address</label>
      <input type="name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="someone@email.com">
    </div>
    <div class="form-group">
      <label for="contact">Contact Number</label>
      <input type="tel" class="form-control" id="name" placeholder="Personal/Company">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="name" class="form-control" id="address" placeholder="Personal/Company">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country">
        <option>Sri Lanka</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
        <label for="salesrep">Sales Rep</label>
        <select class="form-control" id="salesrep">
          <option>Rep 01</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
  </form>