
<button class="btn btn-primary mb-3" routerLink="../"><i class="fas fa-chevron-circle-left"></i> Customers</button>
<div class="card">
  <div class="card-header">
    <h3>Customer</h3>
  </div>
  <div class="card-body">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Name" [(ngModel)]="customer.customerName" name="customerName" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="someone@email.com" [(ngModel)]="customer.customerEmail" name="customerEmail" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="tel" class="form-control" id="name" placeholder="Contact Number(Personal/Company)" [(ngModel)]="customer.customerTelephone" name="customerTelephone" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="mainloc">Main Location</label>
            <input type="address" class="form-control" id="mainloc" placeholder="Main Location" [(ngModel)]="customer.customerMainLocation" name="customerMainLocation" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="deliveryLocation">Delivery Location</label>
            <input type="address" class="form-control" id="deliveryLocation" placeholder="Delivery Address" [(ngModel)]="customer.customerDeliveryLocation" name="customerTelephone" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="collectionLocation">Collection Location</label>
            <input type="address" class="form-control" id="collectionLocation" placeholder="Collection Location Address" [(ngModel)]="customer.customerCollectionLocation" name="customerCollectionLocation" [readonly]="readonly">
          </div>
          <div class="form-group">
            <label for="customertype">Customer Type</label>
            <select class="form-control" id="customertype" [disabled]="readonly">
              <option>Lead</option>
              <option>Customer</option>
            </select>
          </div>
          <div class="form-group">
            <label for="paymentFlag">Payment Status</label>
            <select class="form-control" id="paymentFlag" [disabled]="readonly">
              <option value="CLEAR">Clear</option>
              <option value="BLOCKED">Blocked</option>
              <option value="PENDING">Pending</option>
            </select>
          </div>
          <a [routerLink]="['../../order',customer.customerId]" class="">Show Customer's Orders</a><br>
            <button type="submit" class="btn btn-primary mt-3" *ngIf="!readonly">Submit</button>
      </form>
  </div>
</div>
  