<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">Sales</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inquiry" routerLinkActive="active">Inquiry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Oders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/returns" routerLinkActive="active">Returns</a>
      </li>
      <!-- <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">user</a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">My Account</a>
          <a class="dropdown-item" href="#">Change Password</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li> -->
    </ul>
    <div ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>User Logged in</a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/users">My Account</a>
          <a class="dropdown-item" routerLink="/users">Change Password</a>
          <a class="dropdown-item" routerLink="/users">Log Out</a>
        </div>
      </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>