<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group">
        <button class="btn btn-primary" routerLink="../"><i class="fas fa-chevron-circle-left"></i> Orders</button>
    </div>
    <div class="btn-group ml-3" role="group">
        <!-- <button type="button" class="btn btn-secondary" (click)="onNewClick()" [disabled]="isNew">New</button> -->
    <button type="button" class="btn btn-secondary" (click)="onEditClick()">Edit</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Delete</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this order {{order.salesOrderId}} of {{customer.customerName}} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="onDeleteClick(order.salesOrderId)"
              data-dismiss="modal">Yes! Delete</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="btn-group ml-2" role="group">
      <button class="btn btn-success" [disabled]="order.orderStatus == 'Cancelled'" (click)="cancelOrder()">Cancel order</button>
    </div>
  </div>
<form #form="ngForm" id="orderForm">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="status">Oder Status</label>
          <input [(ngModel)]="order.orderStatus" name="orderStatus" type="text" class="form-control form-control-sm"
            id="orderStatus" readonly required>
        </div>
        <div class="form-group">
          <label for="inqid">Order ID</label>
          <input [(ngModel)]="order.salesOrderId" name="salesOrderId" type="text" class="form-control form-control-sm"
            id="orderId" placeholder="Order ID generates automatically" readonly>
        </div>
        <div class="form-group">
          <label for="orderdate">Order Date</label>
          <input [(ngModel)]="order.orderDate" name="orderDate" type="date" class="form-control form-control-sm"
            id="orderdate" [readonly]="crudActionService.readonlybool" required>
        </div>
        <div class="form-group">
          <label for="orderdate">Order Due Date</label>
          <input [(ngModel)]="order.dueDate" name="dueDate" type="date" class="form-control form-control-sm"
            id="duedate" [readonly]="crudActionService.readonlybool" required>
        </div>
        <div class="form-group">
          <label for="deltype">Delivery Type</label>
          <input [(ngModel)]="order.shipmentType" name="shipmentType" type="text" class="form-control form-control-sm"
            id="shipmentType" [readonly]="crudActionService.readonlybool" required>
        </div>
        <div class="form-group">
          <label for="deladdress">Delivery Address</label>
          <input [(ngModel)]="customer.customerDeliveryLocation" name="customerDeliveryLocation" type="text"
            class="form-control form-control-sm" id="customerDeliveryLocation"
            [readonly]="crudActionService.readonlybool" required>
        </div>
      </div>
      <div class="col">
        <div class="container shadow p-3 mb-5 mt-3 bg-white rounded">
          <span>Customer Details</span>
          <div class="row">
            <div class="form-group-sm col-5">
              <label for="cusid">Customer's Email </label>
              <input [(ngModel)]="customer.customerEmail"
                name="customerEmail" type="email" class="form-control form-control-sm" id="cusid"
                [readonly]="crudActionService.readonlybool" required>
            </div>
            <div class="form-group-sm col-7">
              <label for="cusname">Customer's Name</label>
              <input [(ngModel)]="customer.customerName" name="customerName" type="text"
                class="form-control form-control-sm" id="cusname" readonly required>
            </div>
          </div>
          <div class="form-group-sm">
            <label for="cusaddress">Customer's Main Address</label>
            <input [(ngModel)]="customer.customerMainLocation" name="customerMainLocation" type="text"
              class="form-control form-control-sm" id="cusaddress" readonly required>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="form-group-sm">
                <label for="type">Customer's Type</label>
                <input [(ngModel)]="customer.customerType" name="customerType" type="text"
                  class="form-control form-control-sm" id="type" readonly required>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group-sm">
                <label for="credbal">Payment Status</label>
                <input [(ngModel)]="customer.customerPaymentFlag" name="customerPaymentFlag" type="text"
                  class="form-control form-control-sm" id="credbal" readonly required>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="order.shipmentType == 'COURIER'" class="container shadow p-3 mb-5 bg-white rounded">
          <span>Courier Details</span>
          <div class="row">
            <div class="form-group col-6">
              <label for="couriername">Courier Name</label>
              <input [(ngModel)]="courierObj.company" name="company" type="text" class="form-control form-control-sm"
                id="couriername" readonly required>
            </div>
            <div class="form-group col-6">
              <label for="vehicletype">Vehicle Type</label>
              <input [(ngModel)]="courierObj.vehicleType" name="vehicleType" type="text"
                class="form-control form-control-sm" id="vehicletype" readonly required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="contaccourirer">Contact Number</label>
                <input [(ngModel)]="courierObj.telephone" name="telephone" type="text"
                  class="form-control form-control-sm" id="contaccourirer" readonly required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="couriername">Vehicle Number</label>
                <input [(ngModel)]="courierObj.vehicleId" name="vehicleId" type="text"
                  class="form-control form-control-sm" id="couriername" readonly required>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="pr-3 pl-3">
    <div class="row">
      <!-- <div *ngIf="isNew" class="col">

        <table class="table table-sm table-hover mt-3">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity Required</th>
              <th scope="col">Add to Inquiry</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selection; let i = index">

              <td scope="row">{{i+1}}</td>
              <td>{{item.product.name}}</td>
              <td>{{item.product.price}}</td>
              <td><input type="number" [(ngModel)]="item.qtyReq" name="qtyReq" placeholder="Enter amount" min="1">
              </td>
              <td><button type="button" [disabled]="0>=item.qtyReq" class="btn btn-secondary btn-sm"
                  (click)="addItemToInquiry(item)">Add <i *ngIf="!item.added" class="fas fa-caret-right"></i><i
                    *ngIf="item.added" class="fas fa-check-circle"></i></button></td>

            </tr>
          </tbody>
        </table>
      </div> -->
      <div *ngIf="isNew" class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Qty</th>
              <th scope="col"></th>
              <!-- <button (click)="clearAll()" class="btn btn-danger">Clear All</button> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.productName}}</td>
              <td>{{item.qty}}</td>
              <td><i (click)="clearItem(i)" class="fas fa-trash text-danger ml-4"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div *ngIf="!isNew" class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Qty</th>
          
          <!-- <button (click)="clearAll()" class="btn btn-danger">Clear All</button> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.productName}}</td>
          <td>{{item.qty}}</td>
          
        </tr>

      </tbody>
    </table>
  </div>

</form>
