<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group">
        <button class="btn btn-primary" routerLink="../"><i class="fas fa-chevron-circle-left"></i> Orders</button>
    </div>
    <div class="btn-group ml-3" role="group">
        <!-- <button type="button" class="btn btn-secondary" (click)="onNewClick()" [disabled]="isNew">New</button> -->
    <button type="button" class="btn btn-secondary" (click)="onEditClick()" [hidden]="isEdit">Edit</button>
    <button type="button" class="btn btn-secondary" (click)="onCancelEditClick()" [hidden]="!isEdit">Cancel Edit</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Delete</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this order {{order.salesOrderId}} of {{customer.customerName}} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" (click)="onDeleteClick(order.salesOrderId)"
              data-dismiss="modal">Yes! Delete</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="btn-group ml-2" role="group">
      <button class="btn btn-success" [disabled]="!isEdit" (click)="onSubmit()" form="orderForm">Submit</button>
      <button class="btn btn-success" [disabled]="order.orderStatus == 'Cancelled'" (click)="cancelOrder()">Cancel order</button>
    </div>
  </div>
<form #form="ngForm" id="orderForm">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="status">Oder Status</label>
          <input [(ngModel)]="order.orderStatus" name="orderStatus" type="text" class="form-control form-control-sm"
            id="orderStatus" readonly required>
        </div>
        <div class="form-group">
          <label for="inqid">Order ID</label>
          <input [(ngModel)]="order.salesOrderId" name="salesOrderId" type="text" class="form-control form-control-sm"
            id="orderId" placeholder="Order ID generates automatically" readonly>
        </div>
        <div class="form-group">
          <label for="orderdate">Order Date</label>
          <input [(ngModel)]="order.orderDate" name="orderDate" type="date" class="form-control form-control-sm"
            id="orderdate" readonly required>
        </div>
        <div class="form-group">
          <label for="orderdate">Order Due Date</label>
          <input [(ngModel)]="order.dueDate" name="dueDate" type="date" class="form-control form-control-sm"
            id="duedate" [readonly]="crudActionService.readonlybool" required>
        </div>
        <div class="form-group">
          <label for="deltype">Delivery Type</label>
          <input [(ngModel)]="order.shipmentType" name="shipmentType" type="text" class="form-control form-control-sm"
            id="shipmentType" readonly required>
        </div>
        <div class="form-group">
          <label for="deladdress">Delivery Address</label>
          <input [(ngModel)]="customer.customerDeliveryLocation" name="customerDeliveryLocation" type="text"
            class="form-control form-control-sm" id="customerDeliveryLocation"
            [readonly]="crudActionService.readonlybool" required>
        </div>
      </div>
      <div class="col">
        <div class="container shadow p-3 mb-5 mt-3 bg-white rounded">
          <span>Customer Details</span>
          <div class="row">
            <div class="form-group-sm col">
              <label for="cusid">Email </label>
              <input [(ngModel)]="customer.customerEmail"
                name="customerEmail" type="email" class="form-control form-control-sm" id="cusid"
                readonly required>
            </div>
            <div class="form-group-sm col">
              <label for="cusname">Mobile No</label>
              <input [(ngModel)]="customer.customerTelephone" name="customerTelephone" type="tel"
                class="form-control form-control-sm" id="cusmob" readonly required>
            </div>
          </div>
          <div class="form-group-sm">
            <label for="cusname">Name</label>
            <input [(ngModel)]="customer.customerName" name="customerName" type="text"
              class="form-control form-control-sm" id="cusname" readonly required>
          </div>
          <div class="form-group-sm">
            <label for="cusaddress">Main Address</label>
            <input [(ngModel)]="customer.customerMainLocation" name="customerMainLocation" type="text"
              class="form-control form-control-sm" id="cusaddress" readonly required>
          </div>

        </div>


        <div *ngIf="order.shipmentType == 'COURIER'" class="container shadow p-3 mb-5 bg-white rounded">
          <span>Courier Details</span>
          <div class="row">
            <div class="form-group col-6">
              <label for="couriername">Courier Name</label>
              <input [(ngModel)]="courierObj.company" name="company" type="text" class="form-control form-control-sm"
                id="couriername" readonly required>
            </div>
            <div class="form-group col-6">
              <label for="vehicletype">Vehicle Type</label>
              <input [(ngModel)]="courierObj.vehicleType" name="vehicleType" type="text"
                class="form-control form-control-sm" id="vehicletype" readonly required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="contaccourirer">Contact Number</label>
                <input [(ngModel)]="courierObj.telephone" name="telephone" type="text"
                  class="form-control form-control-sm" id="contaccourirer" readonly required>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="couriername">Vehicle Number</label>
                <input [(ngModel)]="courierObj.vehicleId" name="vehicleId" type="text"
                  class="form-control form-control-sm" id="couriername" readonly required>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  
  <small>Inquiry total: Rs. <b>{{inqTotal | currency:'LKR':''}}</b></small>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Line Total</th>
          
          <!-- <button (click)="clearAll()" class="btn btn-danger">Clear All</button> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{item.productId}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.productPrice | currency:'LKR':'' }}</td>
          <td>{{item.qty}}</td>
          <td>{{item.productPrice * item.qty  | currency:'LKR':'' }}</td>
        </tr>

      </tbody>
    </table>
  </div>

</form>
