
<router-outlet></router-outlet>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        
  <div class="btn-group ml-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" (click)="onNewClick()">New</button>
      <button type="button" class="btn btn-secondary" (click)="onDeleteClick()">Delete</button>
  </div>
  
</div>


<table class="table table-sm table-hover mt-5">
    <thead>
      <tr>
        <!-- <th scope="col">
            <button  type="button" class="btn btn-secondary btn-sm" (click)="crudManager.select= !crudManager.select"><i class="fas fa-check-square"></i></button>
        </th> -->
        <th scope="col">#</th>
        <th scope="col">Courier Id</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Vehicle Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let courier of couriers; let i = index" [routerLink]="[courier.courierId]">
          
        <!-- <td scope="row"><input type="checkbox" name="selected" (change)="selected($event)" *ngIf="crudManager.select"></td> -->
        <td scope="row">{{i+1}}</td>
        <td>{{courier.courierId}}</td>
        <td>{{courier.company}}</td>
        <td>{{courier.telephone}}</td>
        <td>{{courier.vehicleType}}</td>
        <td>{{courier.vehicleId}}</td>
        
      </tr>
    </tbody>
  </table>

  